# Supabase
NEXT_PUBLIC_SUPABASE_URL=https://thagaxrdflttslfqawvu.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InRoYWdheHJkZmx0dHNsZnFhd3Z1Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzIyODExNzEsImV4cCI6MjA4Nzg1NzE3MX0.J68Yo4JASD8uerPKk6MsINy9cYDBMYWHiE0eUw0khEY
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InRoYWdheHJkZmx0dHNsZnFhd3Z1Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MjI4MTE3MSwiZXhwIjoyMDg3ODU3MTcxfQ.sa3b8JfbVYDcGXTl-SmUSGfQP-7HD8huEPozo1rkqZE

# NextAuth
NEXTAUTH_SECRET=8VkCx+y88OfJbj1OAFy3xs8IAGrtlA+mwQ2oIBAJlb8=
NEXTAUTH_URL=http://localhost:3000

# Cron security (Vercel Cron Jobs)
CRON_SECRET=generate-a-random-secret

# App
NEXT_PUBLIC_APP_URL=http://localhost:3000
NEXT_PUBLIC_DEFAULT_LOCALE=he
